.App {
  text-align: center;
  background: linear-gradient(45deg, cyan, tomato);
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-increment {
  background-color: lime;
  color: whitesmoke;
  padding: 10px 30px;
  border: 0;
  margin: 10px
}

.btn-decrement {
  background-color: goldenrod;
  color: whitesmoke;
  padding: 10px 30px;
  border: 0;
  margin: 10px
}

.btn-reset {
  background-color: indianred;
  color: whitesmoke;
  padding: 10px 30px;
  border: 0;
  margin: 10px
}

.btn-increment-by-amount {
  background-color: indigo;
  color: whitesmoke;
  padding: 10px 30px;
  border: 0;
  margin: 10px
}